## Normalización de Datos

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
clase1 = pd.read_csv('./data/clase_1.csv', delimiter= ';')
clase2 = pd.read_csv('./data/clase_2.csv', delimiter = ';')
clase3 = pd.read_csv('./data/clase_3.csv', delimiter= ';')
clase4 = pd.read_csv('./data/clase_4.csv', delimiter = ';')
claustro = pd.read_csv('./data/claustro.csv', delimiter = ';')

### Alumnos completos

In [6]:
#Juntando
alumnos_ds = pd.merge(clase1,clase2, how= 'outer')
alumnos_ds['Vertical'] = 'Data Science'
alumnos_fs = pd.merge(clase3, clase4, how= 'outer')
alumnos_fs['Vertical'] = 'Full Stack'
alumnos = pd.merge(alumnos_ds, alumnos_fs, how='outer')

#Limpiando
alumnos.reset_index(inplace= True)
alumnos.rename(columns= {'Proyecto_FullSatck': 'ProyectoFullStack'}, inplace = True)


alumnos.drop(columns='index', inplace= True)

In [7]:
alumnos.head()

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment,Vertical,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,ProyectoFullStack
0,Abraham Vélez,Abraham_Vélez@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,Apto,Data Science,NaN,NaN,NaN,NaN,NaN
1,Aitana Sebastián,Aitana_Sebastián@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Full Stack,Apto,No Apto,Apto,No Apto,Apto
2,Albino Macias,Albino_Macias@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Full Stack,No Apto,Apto,Apto,Apto,Apto
3,Alejandra Vilaplana,Alejandra_Vilaplana@gmail.com,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,Full Stack,No Apto,No Apto,No Apto,Apto,Apto
4,Amor Larrañaga,Amor_Larrañaga@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Full Stack,Apto,Apto,Apto,Apto,No Apto

In [8]:
alumnos.to_csv('alumnos_completo.csv', index = False)

### Docentes

In [10]:
claustro

               Nombre Rol Vertical   Promocion    Campus   Modalidad
0           Noa Yáñez  TA       DS  Septiembre    Madrid  Presencial
1   Saturnina Benitez  TA       DS  Septiembre    Madrid  Presencial
2          Anna Feliu  TA       FS  Septiembre    Madrid  Presencial
3       Rosalva Ayuso  TA       FS  Septiembre  Valencia  Presencial
4    Ana Sofía Ferrer  TA       FS     Febrero  Valencia  Presencial
5     Angélica Corral  TA       FS     Febrero    Madrid  Presencial
6         Ariel Lledó  TA       DS  Septiembre    Madrid  Presencial
7         Mario Prats  LI       FS     Febrero  Valencia      Online
8   Luis Ángel Suárez  LI       FS  Septiembre    Madrid      Online
9  María Dolores Diaz  LI       DS  Septiembre    Madrid      Online

In [ ]:
claustro.to_csv('docentes.csv', index = False)